@CHARSET "UTF-8";

#content-margin {
    margin 					: auto;
}

.box {
    background				: rgba(255,255,255,0.9)!important;
}

#btn-add-user {
	float					: right;
    width					: 200px;
    margin-top				: -40px;
}

.controlColumn {
  float						: right;
}

.waitingActivate {
	background-color		: #ffcc99!important;
}

.waitingActivate td {
	border-color			: #CCC!important;
	border					: none; 
}