<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SessionFactory">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">epul</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/runwaylicence</property>
        <property name="hibernate.connection.username">userepul</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="com/project/permis/entities/Rule.hbm.xml" />
        <mapping resource="com/project/permis/entities/Configuration.hbm.xml" />
        <mapping resource="com/project/permis/entities/Action.hbm.xml" />
        <mapping resource="com/project/permis/entities/Flag.hbm.xml" />
        <mapping resource="com/project/permis/entities/StudentAction.hbm.xml" />
        <mapping resource="com/project/permis/entities/Mission.hbm.xml" />
        <mapping resource="com/project/permis/entities/Message.hbm.xml" />
        <mapping resource="com/project/permis/entities/Student.hbm.xml" />
        <mapping resource="com/project/permis/entities/Game.hbm.xml" />
        <mapping resource="com/project/permis/entities/Calendar.hbm.xml" />
        <mapping resource="com/project/permis/entities/Goal.hbm.xml" />
    </session-factory>
</hibernate-configuration>
