@CHARSET "UTF-8";

.sidebar-menu>li>a>.fa-lg {
    width					: 30px!important;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: auto;
}

.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>p,
.navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a>h4 {
    margin					: 0 0 0 20px;
    overflow 				: hidden;
}

.content-wrapper {
    background-image 		: url(../img/layout.png);
	background-size			: cover;
	background-position		: center center;
	background-repeat		: no-repeat;
	background-attachment	: fixed;
}

.user-panel>.info
{
	position				: static;
}

.clear {
	clear 					: both;
}

.alert-success {
	color					: #3c763d!important;
    background-color		: #dff0d8!important;
    border-color			: #d6e9c6!important;
}

.modal-body {
    max-height				: 300px;
    overflow-y				: scroll;
}

label.boldless {
	font-weight: normal;
}