@CHARSET "UTF-8";


html {
	
	background-image 		: url(../img/backLogin.jpg);
	background-size			: cover;
	background-position		: center center;
	background-repeat		: no-repeat;
	background-attachment	: fixed;
}

.login-page {
    background				: transparent;
}

.login-box {
    padding-bottom			: 40px;
}